body {
    /* background-color: #dbf6e9; */
    background-image: url("/static/imgs/bg8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
/* .container{
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: 40px;
} */
#tweetDashboard {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-right: 3px; */
    padding-left: 3px;
    padding-top: 3px;
    font-family: Verdana, sans-serif;
}
#horzBar{
    margin-left: 80px;
    /* margin-right: auto; */
}
#row3 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#mapCluster {
    /* margin-left: 80px; */
    margin-right: 80px;
    height: 500px;
    width: 800px;
}
#row4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
select{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 2px;
    padding-bottom: 1px;
    display: block;
    /* background-color: transparent; */
    border: none;
    font-size: large;
    background-color:  rgb(26, 88, 114);
    color: whitesmoke;
    outline: none;
}
#rowW {
    margin-left: 100px;
    /* margin-right: auto; */
    margin-top: 20px;
    margin-bottom: 2px;
}
#colW{
    margin-left: 650px;
    margin-right: auto;
    margin-top: 35px;
}
.well {
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: auto;
    padding-left: 10px;
    font-weight: bold;
    outline: rgb(16, 17, 17);
    height: 50px;
}
#dayBars1{
    margin-left: 60px;
    margin-right: auto;
    width: 700px;
    padding-left: 20px;
}
#hourBars2 {
    margin-left: auto;
    margin-right: 60px;
    padding-right: 40px;
}
#topicsPie {
    margin-left: 510px;
    /* margin-right: auto; */
    margin-top: 25px;
}